<h2 class="mobile-hide">Contact Us:</h2>
<div class="row">
  <h3 class="mobile">Phone Number: </h3>
  <em><a style="font-size: 2rem;">(208) 557 4393</a></em>
</div>
<div class="row mobile-hide">
  <h3>Email: </h3>
  <em><a>contact@braingainsidaho.com</a></em>
</div>