<%= content_for :header_title do %>
  <em>About</em> Brain Gains Tutoring Idaho
<% end %>

<%= content_for :header_right_module do %>
  <h2>Contact Us:</h2>
  <div class="row">
    <h3>Phone Number: </h3>
    <em><a style="font-size: 2rem;">(208) 557 4393</a></em>
  </div>
  <div class="row">
    <h3>Email: </h3>
    <em><a>contact@braingainsidaho.com</a></em>
  </div>
<% end %>

<% content_for :main_content do %>
  Page currently under <em>construction</em>.
<% end %>

<% content_for :additional_content do %>
  <%= render partial: "leads/form" %>
<% end %>