:root {
  --blue: #1560BD;
  --yellow: #D4A518;
  --cream: #FFEECA;
  --brown: #867555;
  --white: white;
  --off-black: #303030;
}

body {
  padding: 0.75rem 1.5rem;
}

/* Colors */

.content,
.header .right-module,
.content .additional {
  background-color: var(--white);
  color: var(--off-black);
}

.header {
  background-color: var(--blue);
  color: var(--white);
}

.header .title em {
  color: var(--yellow);
  font-style: normal;
}

.header .right-module em {
  color: var(--brown);
  font-weight: bold;
  font-style: normal;
}

.content em {
  font-weight: bold;
  font-style: normal;
}

/* Header styling */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.header .logo {
  margin: 2rem 0 2rem 2rem;
  height: 18rem;

  flex-grow: 0;
  flex-shrink: 0;
}

.header .title {
  margin: 0 1rem;

  flex-grow: 1;
  flex-shrink: 1;

  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}

.header .right-module {
  margin: 2rem 3rem 2rem 5rem;
  padding: 1rem;
  width: 18rem;
  height: 18rem;
  border-radius: 10px;

  flex-grow: 0;
  flex-shrink: 0;

  font-size: 1.25rem;
}

/* Content styling */

.content {
  display: grid;
  grid-template-columns: 7fr 3fr;

  font-size: 1.5rem;
}

.content .main {
  padding: 1.75rem 0;
}

.content .additional {
  margin: 1.75rem 0 1.75rem 1.75rem;
  padding: 1rem;

  border: 4px solid var(--yellow);
  border-radius: 8px;
}

/* Additional Styling */

.alert {
  font-size: .75rem;
  color: red;
}

.success {
  font-size: 1rem;
  color: green;
}

/* Button styling */

button,
.button {
    background-color: var(--yellow);
    color: var(--off-black);
    font-family: Arial;
    font-weight: 900;
    font-size: 1.3rem;
    border: 3px solid var(--yellow);
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0 .5rem .5rem 0;
    cursor: pointer;
}

button:hover,
.button:hover {
    background-color: var(--white);
    color: var(--yellow);
}

.brown-button {
    background-color: var(--brown);
    border-color: var(--brown);
    color: var(--white);
}

.brown-button:hover {
    color: var(--brown);
}

/* Modular content layout and styling */

.content .modular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
}

.content .modular .module {
  padding: 1rem;
  border: 4px solid var(--brown);
  border-radius: 8px;
}

/* Form styling */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

form .row,
form .field {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

form .checkbox,
form .radio {
  flex-direction: row;
}

form select {
  width: 6rem;
  font-size: inherit;
  padding: .5rem;
  border-radius: 20px;
  background-color: var(--white);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  border: 1px solid var(--off-black);
  border-radius: 25px;
}

input[type="submit"] {
  margin-top: 1rem;
}

/* Specific Styling */

.header .right-module .low-margin {
  margin: .5rem 0;
}

.header .right-module .small-brown-link {
  text-decoration: none;
  color: var(--brown);
  font-size: 1.1rem;
}

@media only screen and (max-width: 1250px) {
  body {
    padding: 0;
  }

  .header {
    flex-direction: column;
    margin: 0 1rem;
  }

  .header .logo {
    height: 12rem;
    margin: 2rem;
  }

  .header .right-module {
    height: auto;
    width: auto;
    margin: 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .content .main {
    padding: 1.75rem 1rem;
  }

  .content .modular {
    display: flex;
    flex-direction: column;
  }

  .content .additional {
    margin: 2rem 1rem .5rem 1rem;
  }

  .mobile-hide {
    display: none;
  }

  .mobile {
    margin-top: 0;
  }
}